.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  color: white;
  background-image: url('./assets/sw-space.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 169, 64);
  padding: 15px 15px;
}

.Login-page {
  min-height: 90vh;
  background-image: url('./assets/SW-bkg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.home {
  min-height: 90vh;
  background-image: url('./assets/SW-Tatooine.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.register {
  min-height: 90vh;
  background-image: url('./assets/troopers.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.upload {
  min-height: 90vh;
  background-image: url('./assets/mill-falcon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.footer {
  padding: 10px 0;
  background-color: rgb(38, 37, 44);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
