.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  color: white;
  background-image: url('./assets/sw-space.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 169, 64);
  padding: 15px 15px;
  box-shadow: 1px 1px 7px black;
  z-index: 12;
  position: relative;
}

.Login-page {
  min-height: 90vh;
  background-image: url('./assets/SW-bkg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.home {
  min-height: 90vh;
  background-image: url('./assets/SW-Tatooine.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -5;
}

.register {
  min-height: 90vh;
  background-image: url('./assets/troopers.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.upload {
  min-height: 90vh;
  background-image: url('./assets/mill-falcon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.footer {
  padding: 10px 0;
  background-color: rgb(38, 37, 44);
}

.cardsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid red;
  margin: 20px;
  max-width: 318px;
  background: rgba(255, 255, 255, 0.3);
}

.cardBody {
  border: 1px solid red
  
}

.cardTitle {
  font-weight: 500;
  color: black;
}

.cardText {
  color: black;
}
